  mat-card-content {
      justify-content: center;
      display: flex;   
  }

  .bg-light{
    border: solid black;
    border-width: 2px;
  }

  .center{
    width: 75%;
    margin: 30px auto;
  }

  .main-div{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .align-center {
    flex: 1 1 auto;
  }

  