<!--Some code and file structure for the home page, login page, and register page routing 
    is found from https://jasonwatmore.com/post/2019/04/29/angular-7-tutorial-part-3-add-routing-multiple-pages-->


<div class="p-5 text-center bg-light" style="margin-top: 100px; border-radius: 4px">
    <h1 class="mb-3">Welcome to our CEN3031 Project!</h1>
    <ng-container *ngIf="!isLoggedIn()">
    <mat-card-title style = "text-align: center;">
        Please 
        <a mat-raised-button href="/login" style="text-align: center">Log in</a>
         or 
         <a mat-raised-button href="/register" style="text-align: center">Create an Account</a> 
         to get started.
      </mat-card-title>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      <mat-card-title style = "text-align: center;"> 
        <a mat-raised-button href="/library" style="text-align: center">Let's Start Studying!</a>
      </mat-card-title>
    </ng-container>
</div>
