.center{
    
    margin: 10px auto;
    
    align-items: center;
  }

  .main-div{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .align-center {
    flex: 1 1 auto;
  }
  .text-boxes {
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }