.center{
    
    margin: 10px auto;
    
    align-items: center;
  }

  .main-div{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .align-center {
    flex: 1 1 auto;
  }
  .text-boxes {
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .scrollable{
    height: 60vh;
  overflow: auto;
  margin-top: 30px;
  }
  .scrollable::-webkit-scrollbar {
    width: 1vmin;
  }
  .scrollable::-webkit-scrollbar-track{
    background-color: rgb(146, 147, 148);
    border-radius: 10px;
  }
  .scrollable::-webkit-scrollbar-thumb {
    background-color: #1c1e1f6b;
    border-radius: 10px;
  }
  .centeredButton{
    display: block;
    margin: 0 auto;
    width:20vmin;
    height: 12vmin;
    font-size: calc(10px + 1vmin);
    border: solid black;
  }