.center{
    
    margin: 10px auto;
    
    align-items: center;
  }

  .main-div{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .align-center {
    flex: 1 1 auto;
  }
  .text-boxes {
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .scrollable{
    height: 630px;
    overflow: auto;
    margin-top: 30px;
  }
  .scrollable::-webkit-scrollbar {
    width: 20px;
  }
  .scrollable::-webkit-scrollbar-track{
    background-color: rgb(27, 120, 163);
    border-radius: 10px;
  }
  .scrollable::-webkit-scrollbar-thumb {
    background-color: #2df8ff6b;
    border-radius: 10px;
  }