.center {
  margin: 10px auto;
}

.center-text {
  text-align: center;
}

.main-div {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-cards {
  width: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-button {
  display: flex;
  flex-direction: row;
}

.top-right {
  position: absolute;
  top: 10%;
  right: 5%;
}

.modal-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid black;
}

.modal-container2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.yel-bord{
  border-color: rgb(212, 210, 48);
  border-width: 6px;
  border-style: double;
  border-top: 1px;
  border-left: 1px;
}

.top-right{
  margin-top: 0;
  margin-right: 0;
}

.top-left{
  margin-top: 0;
  margin-left: 0;
}

.del-icon{
  color: red;
  transform: scale(1.5);
}